@import "tailwindcss";

/* @font-face {
  font-family: 'Thunder';
  src: url('/fonts/Thunder-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
} */


@font-face {
  font-family: 'Thunder';
  src: url('/fonts/Thunder-BoldLC.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


